<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-list-header>
          <ion-label>Condomínio</ion-label>
        </ion-list-header>
          <ion-item [routerLink]="['']">
            <ion-icon slot="start"  name="logo-buffer"></ion-icon>
            <ion-label>Apartamento</ion-label>
          </ion-item>
          <ion-item [routerLink]="['']">
            <ion-icon slot="start"  name="browsers"></ion-icon>
            <ion-label>Comunicados</ion-label>
          </ion-item>
          <ion-item [routerLink]="['']">
            <ion-icon slot="start"  name="logo-usd"></ion-icon>
            <ion-label>Financeiro</ion-label>
          </ion-item>
          <ion-item [routerLink]="['']">
            <ion-icon slot="start"  name="bookmarks"></ion-icon>
            <ion-label>Reservas</ion-label>
          </ion-item>
        <ion-list-header>
          <ion-label>Conta</ion-label>
        </ion-list-header>
          <ion-item [routerLink]="['']">
            <ion-icon slot="start"  name="person"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
          <ion-item [routerLink]="['']">
            <ion-icon slot="start"  name="settings"></ion-icon>
            <ion-label>Configurações</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/home']">
            <ion-icon slot="start"  name="power"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/administracao']">
          <ion-icon name="calendar" aria-hidden="true"></ion-icon>
          <ion-label>Administração</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/manutencao']">
          <ion-icon name="construct" aria-hidden="true"></ion-icon>
          <ion-label>Manutenção</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/funcionarios']">
          <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
          <ion-label>Funcionários</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

